<!--app.resumen.component.html-->
<main>
  <div class="block">
    <p class="tit" [innerHTML]="'RT1' | translate" [class]="getTranslationClass('RT1')"></p>
    <p class="sub" [innerHTML]="'RS1' | translate" [class]="getTranslationClass('RS1')"></p>
    <p class="con" [innerHTML]="'RC1' | translate" [class]="getTranslationClass('RC1')"></p>
    <p class="con" [innerHTML]="'RC1_' | translate" [class]="getTranslationClass('RC1_')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'RT2' | translate" [class]="getTranslationClass('RT2')"></p>
    <p class="sub" [innerHTML]="'RS2' | translate" [class]="getTranslationClass('RS2')"></p>
    <p class="con" [innerHTML]="'RC2' | translate" [class]="getTranslationClass('RC2')"></p>
    <p class="sub" [innerHTML]="'RS2_' | translate" [class]="getTranslationClass('RS2_')"></p>
    <p class="con" [innerHTML]="'RC2_' | translate" [class]="getTranslationClass('RC2_')"></p>
    <p class="sub" [innerHTML]="'RS2__' | translate" [class]="getTranslationClass('RS2__')"></p>
    <p class="con" [innerHTML]="'RC2__' | translate" [class]="getTranslationClass('RC2__')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'RT3' | translate" [class]="getTranslationClass('RT3')"></p>
    <p class="sub" [innerHTML]="'RS3' | translate" [class]="getTranslationClass('RS3')"></p>
    <p class="con" [innerHTML]="'RC3' | translate" [class]="getTranslationClass('RC3')"></p>
  </div>
</main>
