<!--app.inicio.component.html-->
<p id="title" [innerHTML]="'TITLE' | translate" [class]="getTranslationClass('TITLE')"></p><br>
<main>
  <div class="block">
    <p class="tit" [innerHTML]="'HT1' | translate" [class]="getTranslationClass('HT1')"></p>
    <p class="sub" [innerHTML]="'HS1' | translate" [class]="getTranslationClass('HS1')"></p>
    <p class="con" [innerHTML]="'HC1' | translate" [class]="getTranslationClass('HC1')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'HT2' | translate" [class]="getTranslationClass('HT2')"></p>
    <p class="sub" [innerHTML]="'HS2' | translate" [class]="getTranslationClass('HS2')"></p>
    <p class="con" [innerHTML]="'HC2' | translate" [class]="getTranslationClass('HC2')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'HT3' | translate" [class]="getTranslationClass('HT3')"></p>
    <p class="sub" [innerHTML]="'HS3' | translate" [class]="getTranslationClass('HS3')"></p>
    <p class="con" [innerHTML]="'HC3' | translate" [class]="getTranslationClass('HC3')"></p>
  </div>
</main>
