<!--app.portafolio.component.html-->
<main>
  <div class="block">
    <p class="tit" [innerHTML]="'PT1' | translate" [class]="getTranslationClass('PT1')"></p>
    <p class="sub" [innerHTML]="'PS1' | translate" [class]="getTranslationClass('PS1')"></p>
    <p class="con" [innerHTML]="'PC1' | translate" [class]="getTranslationClass('PC1')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'PT2' | translate" [class]="getTranslationClass('PT2')"></p>
    <p class="sub" [innerHTML]="'PS2' | translate" [class]="getTranslationClass('PS2')"></p>
    <p class="con" [innerHTML]="'PC2' | translate" [class]="getTranslationClass('PC2')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'PT3' | translate" [class]="getTranslationClass('PT3')"></p>
    <p class="sub" [innerHTML]="'PS3' | translate" [class]="getTranslationClass('PS3')"></p>
    <p class="con" [innerHTML]="'PC3' | translate" [class]="getTranslationClass('PC3')"></p>
  </div>
</main>

