<!--app.portafolio.component.html-->
<main>
  <div class="block">
    <p class="sub" [innerHTML]="'PS1' | translate" [class]="getTranslationClass('PS1')"></p>
    <a href="assets/CV-es.pdf" alt="CV"><img src= "assets/CV-es.gif"></a>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'PT2' | translate" [class]="getTranslationClass('PT2')"></p>
    <p class="sub" [innerHTML]="'PS2' | translate" [class]="getTranslationClass('PS2')"></p>
    <p class="con" [innerHTML]="'PC2' | translate" [class]="getTranslationClass('PC2')"></p>
    <p class="sub" [innerHTML]="'PS2_' | translate" [class]="getTranslationClass('PS2_')"></p>
    <p class="con" [innerHTML]="'PC2_' | translate" [class]="getTranslationClass('PC2_')"></p>
    <p class="sub" [innerHTML]="'PS2__' | translate" [class]="getTranslationClass('PS2__')"></p>
    <p class="con" [innerHTML]="'PC2__' | translate" [class]="getTranslationClass('PC2__')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'PT3' | translate" [class]="getTranslationClass('PT3')"></p>
    <p class="sub" [innerHTML]="'PS3' | translate" [class]="getTranslationClass('PS3')"></p>
    <p class="con" [innerHTML]="'PC3' | translate" [class]="getTranslationClass('PC3')"></p>
    <p class="sub" [innerHTML]="'PS3_' | translate" [class]="getTranslationClass('PS3_')"></p>
    <p class="con" [innerHTML]="'PC3_' | translate" [class]="getTranslationClass('PC3_')"></p>
    <p class="sub" [innerHTML]="'PS3__' | translate" [class]="getTranslationClass('PS3__')"></p>
    <p class="con" [innerHTML]="'PC3__' | translate" [class]="getTranslationClass('PC3__')"></p>
  </div>
</main>

