<!--app.certificaciones.component.html-->
<main>
  <div class="block">
    <p class="tit" [innerHTML]="'CT1-1' | translate" [class]="getTranslationClass('CT1-1')"></p>
    <p class="tit" [innerHTML]="'CT1-2' | translate" [class]="getTranslationClass('CT1-2')"></p>
    <p class="tit" [innerHTML]="'CT1-3' | translate" [class]="getTranslationClass('CT1-3')"></p>
    <p class="tit" [innerHTML]="'CT1-4' | translate" [class]="getTranslationClass('CT1-4')"></p>
  </div>
  <div class="block">
    <p class="tit" [innerHTML]="'CT2-1' | translate" [class]="getTranslationClass('CT2-1')"></p>
    <p class="con" [innerHTML]="'CS2-1' | translate" [class]="getTranslationClass('CS2-1')"></p>
    <p class="con" [innerHTML]="'CC2-1' | translate" [class]="getTranslationClass('CC2-1')"></p>
    <p class="tit" [innerHTML]="'CT2-2' | translate" [class]="getTranslationClass('CT2-2')"></p>
    <p class="con" [innerHTML]="'CS2-2' | translate" [class]="getTranslationClass('CS2-2')"></p>
    <p class="con" [innerHTML]="'CC2-2' | translate" [class]="getTranslationClass('CC2-2')"></p>
    <p class="tit" [innerHTML]="'CT2-3' | translate" [class]="getTranslationClass('CT2-3')"></p>
    <p class="con" [innerHTML]="'CS2-3' | translate" [class]="getTranslationClass('CS2-3')"></p>
    <p class="con" [innerHTML]="'CC2-3' | translate" [class]="getTranslationClass('CC2-3')"></p>
    <p class="tit" [innerHTML]="'CT2-4' | translate" [class]="getTranslationClass('CT2-4')"></p>
    <p class="con" [innerHTML]="'CS2-4' | translate" [class]="getTranslationClass('CS2-4')"></p>
    <p class="con" [innerHTML]="'CC2-4' | translate" [class]="getTranslationClass('CC2-4')"></p>
  </div>

</main>